@font-face{
  font-family:'JUA';
  src: url('./fonts/JUA.ttf');
}
@font-face{
  font-family:'YEONSUNG';
  src: url('./fonts/YEONSUNG.ttf');
}

body{
  background-image: url('./images/background.png');
  background-size: 100%;
  /*background-repeat: no-repeat;*/
}

#grid {
    display:grid;
    grid-template-columns: 150px 1fr;
    width:1120px;
    margin: auto;
    margin: solid black;
}

.article{
  display: inline;
}

.lee {
    padding-left: 15px
  }

h1 {
    font-size: 400%;
    text-align: center;
    border-bottom: solid 1px;
    margin-bottom: 0px;
    padding-bottom:25px;
    font-family: 'YEONSUNG';
  }
a {
    color: black;
    text-decoration: none;
  }
.humanlist {
    border-right: solid 1px;
    width: 100px;
    margin-top: 0px;
    padding-top: 10px;
  }
.man {
  padding: 3px;
}
/*@media(max-width:600px){
  #grid{
    display: block;
  }
  .minusone {
    border-right:none;
  }
  h1{
    font-size:250%;
  }
}
*/
